# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.lighthouse/

# environment variables
.env*
.dev.vars*
!.env.example
!.dev.vars.example

# cloudflare
.wrangler/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
